# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!gradle-wrapper.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.iws
*.ipr
local.properties
captures/
.cxx/

# Kotlin / Java
*.class
*.jar
out/

# OS
.DS_Store
Thumbs.db

# Secrets & Firebase
secrets.properties
google-services.json
app/google-services.json
app/release/
app/debug/

# Keystores
*.jks
*.keystore

# Logs
*.log
